@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.menu {
    background-color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
    transition: all 0.2s ease;
}

.rectangle {
    border-radius: 35px;
    width: 400px;
    height: 500px;
}

.icon {
    opacity: 0;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon:active {
    transform: scale(1.0);
}
