.Nav {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(199, 197, 197);
}
.inner{
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin:auto;
}
.Nav .button {
  text-align: center;
  margin-right: 10px;
}
.searchbar {
  margin-right: 10px;
} 
.form{
  align-items: left;
}
.searchbar {
  margin-right: 10px;
}