.Nav {
  margin-top: 20px;
  padding-bottom: 20px;
}
.inner{
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin:auto;
}
.Nav .button {
  text-align: center;
}
.searchbar {
  margin-right: 10px;
} 
.form{
  align-items: left;
}
.searchbar {
  margin-right: 10px;
  width:100px
}