.menuIcon {
    background-color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.4);
    transition: all 0.3s ease;
}

.rectangle {
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

.menuIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menuIcon:active {
    transform: scale(1.0);
}


.menuIcon .rectangle:active {
    transform: scale(1.0);
}