@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.body{
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.3s;
}

