.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    width: 25vw;
}

.column img {
    vertical-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

.column img:hover {
    opacity: .50;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 48%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}