* {
    box-sizing: border-box;
    min-width: 0;
}

.body {
    width: 100vw;
    height: 130px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow:
            rgba(149, 157, 165, 0.2) 0px 10px 15px,   /* center shadow, larger and more blurred */
            rgba(149, 157, 165, 0.2) -5px 8px 10px,   /* left shadow, smaller and less blurred */
            rgba(149, 157, 165, 0.2) 5px 8px 10px;    /* right shadow, smaller and less blurred */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navBarButton {
    text-align: center;
    font-size: 24px;
    background: white;
    cursor: pointer;
    outline: inherit;
    color: black;
    height: 70px;
    transition: all 0.3s ease, transform 0.1s ease;
    border: 3px solid black;
    width: auto;
    padding:20px 40px;
    font-weight: bold;
    white-space: nowrap;
}

.navBarButton:hover {
    background: #228D8A;
    cursor: pointer;
    color: white;
}

.navBarButton:active {
    transform: scale(0.95);
}



