.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 22%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    vertical-align: middle;
    width: 100%;
    padding-top: 8px;
}

.column img:hover {
    opacity: .50;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 48%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

